*{
    background-color: #ffe692;
}

.container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 70px;
}

.textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff3ce;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    margin-left: 40px;
}

.textbox #textarea{
    border: none;
    background-color:#fff3ce;
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    resize: none;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 20px;
    margin-bottom:100px;
}

.buttons button{
    border: none;
    font-size: 32px;
    background-color: #6c3b3b;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.buttons button i{
    background-color: #6c3b3b;
    color: #fff;
}

.image img{
    width: 300px;
    height: 450px;
    margin-left: 60px;
}